.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}
/* Color of the navbar BEFORE scroll */
.navbar-scroll {
  /* background-color: rgb(192, 192, 12); */
  background-color: #222222;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  margin-left: -40px;
  color: #fff;
  font-size: 200%;
}

.navbar-brand:hover {
  color: yellow;
  /* letter-spacing: 5px;
  font-size: 2rem; */
}
.nav-link{
  font-size: 1.2rem;
}
.nav-link:hover{
  color: yellow;
  font-size: 1.4rem;
  background-color: #222111;
  border-radius: 10px;
}
.navbar-collapse{
  text-align: center;
}
@media (max-width:768px)
{
  .navbar-brand{
    margin-left: 0px;
  }
}
