.btn {
    margin: 40px;
}
body{
    margin-top: 90px;
}

/* Form styles */
#item{
    margin-top: 15px;
    box-sizing: border-box;
    border:none;
    color: #ddd;
    background-color:  #201818;
    border-bottom: 2px solid #e3dadaee;
    /* border-left: 1px solid #e3dadaee; */
    letter-spacing: 3px;
    font-size: 1.5em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
    outline: none;
    caret-color:yellow;
    border-radius: 2px;
}
#item:focus{
    text-align: center;
    border-left: 1px solid #e3dadaee;
    background-color:#201818;
    /* border-top: 1px solid #000;
    border-left: 1px solid #000; */
    border-bottom: 2px solid #e3dadaee;
    outline: none;
    padding: 3px;
    font-size: 1.5em;
    height: 5\w\0px;
    outline: unset;
}
